html{
  background-color: #202020;
  margin: 0 !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.nav-container{
  width: 100vw !important;
}

.nav-container-2{
  position: fixed !important;
  top: 0 ;
  width: 100vw !important;
  background-color: #1a1a1a !important;
  padding: 0 5vw 0 0 !important;
  z-index: 2 !important;

}

.top-nav{
  background-color: #202020;
  height: 180px;
  padding: 0 0 !important;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-weight: 500 !important;
}

.top-nav-2{
  background-color: #1a1a1a !important;
  width: 90%;
  height: 80px;
  padding: 0 0 !important;
  max-width: 960px;
  margin: 0 auto ;
  font-weight: 500 !important;
}

.top-nav-new{
  background-color: #202020 !important;
  width: 90%;
  padding: 10px 0 10px 0!important;
  max-width: 960px;
  margin: 0 auto ;
  font-weight: 400 !important;
  font-size: 14px;
  border-bottom: 1px solid #000000;
}

@media (min-width: 550px){
  .top-nav-2{
    width: 100%;
    height: 80px;
  }
  .nav-container-2{

    width: 100vw !important;

    padding: 0 0 !important;


  }
}

.navbar-brand{
  display: none !important;
}

.navbar-brand-logo{
  display: inline !important;
  padding-left: 1rem;
}

@media (min-width: 550px ){
  .navbar-brand{
    font-size: 1.5rem !important;
    font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    display: inline !important;
  }
  .navbar-brand-logo{
    display: none !important;

  }
}
.logo{
  width: 36px;
  margin-right: 20px;
}


.spacing-2{
  height: 180px;
  width: 100%;
  margin-top: 180px !important;
}


* {
  box-sizing: border-box !important;
}

.viewport{
  background-color: #202020;
  color: white;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 14px;
  padding-left: max(1ch,env(safe-area-inset-left));
  padding-right: max(1ch,env(safe-area-inset-right));
  padding-top: max(2ex,env(safe-area-inset-top));
  padding-bottom: max(2ex,env(safe-area-inset-bottom));
  background-color: #202020 !important;
  min-height: 100vh;
  height:auto;
}


.lead h1{
  font-size: 4rem;
  font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  line-height: 4rem;
  font-weight: 700 ;
}

.lead {
  margin: 20px;
}


.lead p{
  font-size: 0.5em;
  font-weight: 100 ;
}

@media (min-width: 550px) {
  .lead h1{
    font-size: 4rem;
    font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    line-height: 6rem;
    font-weight: 700 ;
    --gradient-shape: circle;
    --gradient-size: closest-corner;
    --gradient-pos: 93.6508% 90.9091%;
    --tw-gradient-from: #ef4444;
    --tw-gradient-to: rgb(239 68 68 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }


  .lead p{
    font-size: 14px;
    font-weight: 400 ;
  }
  }


.banner{
  padding: 0px 0 !important;
  /* max-width: 800px !important; */
  height: 100%;
  display: flex;


}

.banner-2 {
  padding: 0px 0 0 !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  /* max-width: 800px !important; */
  box-sizing: border-box;

}


/* For devices larger than 550px */
@media (min-width: 550px) {
  .banner {
    max-width: 960px;
    width: 100%;
    padding: 0px 0 !important;
    height: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
  .banner-2{
    max-width: 960px;
    width: 100%;
    padding: 240px 0 60px !important;
    }
  }

.elevator {
  background-color: #1a1a1a;
  border-radius: 2px;
  padding: 2rem 1rem 2rem 1rem!important;
  display: none;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2.5rem;
  min-width: 320px !important;
}

@media (min-width: 400px) {
  .elevator {
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .elevator {
    display: flex;
    }
  }

.my-image{
  width: 60%;
  margin : 10px 20px;
  border-radius: 50%;
}

.email-cta{
  background-color: #000000 ;
  color: #ffd479 ;
  border: none ;
  font-size: 1rem ;
  margin-bottom: 12px ;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-weight: 600 ;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px !important;
  cursor: pointer;
  box-sizing: border-box;
}

button :focus{
  outline: none !important;
}

.email-cta-2 {
  background-color: #ffd479 ;
  color: #000000 ;
  font-size: 1rem ;

  margin-bottom: 12px ;
  margin-right: 20px ;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-weight: 600 ;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px !important;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.email-cta-3 {
  background-color: #ffd479 ;
  border: none ;
  color: #000000 ;
  font-size: 1rem ;
  margin-right: 1rem ;
}

.elevator p{
  padding: 12px 0px;
  text-align: center;
  font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 1.1rem;
  margin-bottom: 1.5rem !important;
  font-weight: 500;
}

.logo-icon{
  width: 80%;
  float: left;
  padding-bottom: 10px;
  position: relative;
}

.call-to-act{
  display: inline-block;
}

@media (min-width: 550px){
  .call-to-act{
    display: none;
  }
}

/* Project Section  */

.project-title{
  padding: 0 0.5rem !important;
}

.project-title-2{
  padding: 0 0.5rem !important;
}

.project-title-3{
  padding: 0 0.5rem !important;
}

.project-title-2 h6{
  font-size: 1rem !important;
  font-weight: 700;
  
}

.project-title h6{
  font-size: 1rem !important;
  font-weight: 700 !important;
  
}

.project-title-3 h6{
  font-size: 1rem !important;
  line-height: 1.4rem !important;
  font-weight: 700 !important;
  
}

@media (min-width: 550px){
  .project-title-3 h6{
    font-size: 1.25rem !important;
    font-weight: 600 !important;
  }
}

.list-container{
    padding: 30px 0 0 0 !important;
    max-width: 960px;
    margin-top: 0px;
}




.list-container h1{
  padding-left: 8px;
  margin-top: 30px;
  padding-bottom: 20px;
  font-size: 2.5rem;
  color: #ffd479;
  font-family: JetBrains Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-weight: 700 !important;
}

@media (min-width: 550px){
  .list-container h1{
    margin-top: 60px;
  }
}

.project-item{
  padding: 1rem 0.5rem 0.5rem 0;
  border: 1px solid;
  border-color: transparent transparent #111111 transparent;
  display: flex;
  align-items: center;
}

.project-item p{
  padding-left: 10px;
}

.project-about{
  display: none;
}

@media (min-width: 550px){
  .project-about{
    display: block !important;
  }
}




.navbar-nav a{
  font-size: 1rem !important;
  padding: 0 .5rem !important;
  color: #727272 !important;
  display: inline-block !important;
}

.navbar-nav {
  display: inline-block !important;
}

@media (min-width:550px){
  .navbar-nav a{
    font-size: 1em !important;
    padding: 0 .8rem !important;
    color: #727272 !important;
  }

}

.navbar-nav a:hover{
  text-decoration: none;
  color: #949494 !important;
}

.intro{
  margin-top: 10px;
}

@media (min-width:550px){
  .intro{
    margin-top: 30px;
  }
}
.intro h1{
  font-size: 1.5rem;
  font-weight: 700 ;
}

.intro h3{
  font-size: 1rem;
  font-weight: 700 ;
}

.intro p{
  font-size: 1rem;
  font-weight: 400 ;
  padding-top: 1.25rem;
}

.subHead {
  width: 100%;
  display: flex;
  flex-wrap: nowrap !important;
  color: #ffd479;
}

.about{
  padding-bottom: 0px;

}

.about ul {
  padding: 10px 0 30px 0px;
  font-size: 1.25rem;
  font-weight: 300 !important;
  line-height: 2rem;
  list-style: none;
}

.about li {
  padding-bottom: 5px !important;
}

@media (min-width:550px){
  .about{
    padding: 60px;
    padding-bottom: 0px;
  }

  .about ul {
    padding: 10px 0 30px 10px;
    padding-bottom: 0px;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  .about li {
    padding-bottom: 0px !important;
  }
}

.about ul li::before{
  content: "\2022";
  color: #b3b9c5;
  font-weight: 700; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */

  font-size: x-large;
}

.about h2{
  /* margin-left: -10px; */
  padding: 30px 0 0;
  font-size: 2.5rem;
  font-weight: 600 !important;
  color: #ffd479;
}

.footer{
  padding: 10px 0 10px 0;
  background-color: #202020 !important;
  width: 90%;
  max-width: 960px;
  margin: 0 auto ;
  font-weight: 400 !important;
  font-size: 14px;
  border-top: 1px solid #000000;
  
}

.footer svg{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.note {
  position: relative !important;
  text-align: left;
}

.icons{
  display: flex;
  justify-content: center;
}

@media (min-width: 550px){
  .icons{
    justify-content: right;
  }
}

a{
  color: #cecece !important;
  text-decoration: none !important;
}

a :hover{
  text-decoration: none !important;
}

.about ul li a{
  color: #5c9bdd !important;
  font-weight: 600;
}

.setup li{
  font-weight: 500 ;
}

.linebreak {
  color: #fff;
}

pre {
  display: inline-block !important;
  margin: 0;
}

.mouse-cursor-gradient-tracking {
  position: relative;
  /* background: #7983ff; */
  /* padding: 0.5rem 1rem; */
  font-size: 0.65em;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.mouse-cursor-gradient-tracking::before {
  --size: 110;
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  --gradient-shape: circle;
  --gradient-size: closest-corner;
  --gradient-pos: 84.7222% 99.3506%;
  color:#5c9bdd !important;
}

.mouse-cursor-gradient-tracking:hover::before {
  --size: 200px;
}

.subscript{
  display: flex;
  justify-content: end;
  padding: 20px;
}

.typeWriter {
  font-weight: 100 !important;
  font-style: italic;
  font-size: 12px !important; 
  margin-top: 12px !important;
}

.TypeWriter {
  display: contents !important;
  margin-left: 14px;
}

.hrLine {
  color: white;
  width: 100%;
  border: 0.01px solid black !important;
  margin-top: 14px;
  margin-bottom: 0px !important;
}

ul {
  padding-left: 8px !important;
}

li {
  list-style: none;
}

.postDiv {
  border: 1px solid wheat;
  border-radius: 5%;
  padding: 1rem;
  display: flex;
  background-color: transparent;
  border: 1px solid #2c2c2c;
}

.postDiv p {
  padding-top: 0px !important;
}

.postDiv .icon {
  display: flex;
  align-items: center;
}

.postDiv .content {
  margin-left: 15px;
}

.projectPanel {
  grid-template-columns: repeat(3,1fr) !important;
  display: grid;
  gap: 1rem;
}

.row {
  margin: 0 !important;
}

.text-low {
  color: #525252;
}

.text-med {
  color: #a3a3a3;
}

.font-semibold {
  font-weight: 600;
}

.lowercase {
  text-transform: lowercase;
}
.text-left {
  text-align: left;
}

thead {
  border-top: 1px solid #525252;
  border-bottom: 1px solid #525252;
  /* display: table; */
  width: 100%;
}

table {
  width: 100%;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.border-b {
  border-bottom: 1px solid #525252 !important;
}

.projectPanel {
  margin-top: 20px;
  margin-bottom: 30px;
}